@{
	ViewData["Title"] = "Error Occured";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<!--Format Space-->
<br />
<br />
<br />
<br />

<div class="d-flex justify-content-center ">
	<img src="https://i.pinimg.com/originals/ef/8b/bd/ef8bbd4554dedcc2fd1fd15ab0ebd7a1.gif" alt="Alternative image">
</div>
<br />
<h1 class="text-center text-danger">Error :(</h1>
<br />
<h2 class="text-center">An error occurred while processing your request.</h2>
<div class="text-center h4">  Go back to <a asp-controller="Home" asp-action="Index">Home</a> Page</div>

